$color: #002047;
$color1:white;

a {
  transform: none;
  color: $color;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: .20rem;
  padding: .75rem 1.25rem;
  border-radius: 16rem;
}

a:hover {
  cursor: pointer;
}

.content {
  width: 100vw;
  height: 100vh;
  margin-bottom: 10%;
  margin-top: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .options {
    font-family: 'Heebo';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
  }

  form {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
  }

  button {
    opacity: 0.7;
    font-family: 'Heebo';
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 16rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .20rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 1rem;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($color, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &:before {
        width: 100%;
      }
    }

  }

  button:hover {
    cursor: pointer;

  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
