<button routerLink="/">Return to stock list</button>

<form #stockForm="ngForm">
   <input #stockNameInput="ngModel" name="stockName" placeholder="Stock name" ngModel required minlength="3" [ngClass]="{
            greenBorder: stockNameInput.valid,
            redBorder: stockNameInput.invalid && stockNameInput.touched
         }">
   <br>

   <input #stockCodeInput="ngModel" name="stockCode" placeholder="Stock code" ngModel required minlength="3" [ngClass]="{
                greenBorder: stockCodeInput.valid,
                redBorder: stockCodeInput.invalid && stockCodeInput.touched
             }">
   <br>

   <input type="number" placeholder="Price" name="stockPrice" ngModel min="1" required #stockPriceInput="ngModel">
   <div *ngIf="stockPriceInput.invalid && stockPriceInput.touched">Stock price undefined</div>
   <br>

   <input type="number" name="previousPrice" #stockPreviousPriceInput="ngModel" ngModel required placeholder="Previous price"> <br>
   <div *ngIf="stockPreviousPriceInput.invalid && stockPreviousPriceInput.touched">Stock previous price undefined</div>

   <input #stockExchangeInput="ngModel" name="stockExchange" placeholder="Stock exchange" ngModel required minlength="3" [ngClass]="{
                    greenBorder: stockExchangeInput.valid,
                    redBorder: stockExchangeInput.invalid && stockExchangeInput.touched
                 }">
   <br>

   <button (click)="addStock(stockForm)">Add stock</button>
</form>