<button routerLink="/list">Return to stock list</button>

<div class="info">
    <h3>Stock name</h3>
    <p>{{stockInfo.name}}</p>
    <h3>Stock code</h3>
    <p>{{stockInfo.code}}</p>
    <h3>Stock price</h3>
    <p>{{stockInfo.price}}</p>
    <h3>Stock previous price</h3>
    <p>{{stockInfo.previousPrice}}</p>
    <h3>Stock exchange</h3>
    <p>{{stockInfo.exchange}}</p>
    <h3>Watched</h3>
    <p *ngIf="stockInfo.favorite === true">Yes</p>
    <p *ngIf="stockInfo.favorite !== true">No</p>
</div>