$color: #002047;

.stock-card {
  color: $color;
  font-family: 'Heebo';
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-top: 0px;
  transform-style: preserve-3d;

  h3 {
    font-family: "Lobster", cursive;
    font-size: 2.1rem;
  }

  img {
    width: 470px;
    height: 370px;
  }

  //   .inline {
  //     width: 470px;
  //     display: flex;
  //     justify-content: space-between;
  //     gap: 50px;
  //   }

  .buttons {
    font-family: 'Heebo';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 1rem;

    button {
      display: inline-block;
      padding: .75rem 1.25rem;
      border-radius: 16rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: .20rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }

      &:hover {
        color: #fff;

        &:before {
          width: 100%;
        }
      }

    }

    button:hover {
      cursor: pointer;

    }
  }
}
